In [33]:
import pandas as pd
import numpy as np

In [34]:
df=pd.read_csv('car data.csv')

In [35]:
df.head()

  Car_Name  Year  Selling_Price  ...  Seller_Type  Transmission Owner
0     ritz  2014           3.35  ...       Dealer        Manual     0
1      sx4  2013           4.75  ...       Dealer        Manual     0
2     ciaz  2017           7.25  ...       Dealer        Manual     0
3  wagon r  2011           2.85  ...       Dealer        Manual     0
4    swift  2014           4.60  ...       Dealer        Manual     0

[5 rows x 9 columns]

In [36]:
print(df['Car_Name'].nunique())
df['Fuel_Type'].nunique()

98

3

In [37]:
print(df['Car_Name'].unique())
print(df['Fuel_Type'].unique())

['ritz' 'sx4' 'ciaz' 'wagon r' 'swift' 'vitara brezza' 's cross'
 'alto 800' 'ertiga' 'dzire' 'alto k10' 'ignis' '800' 'baleno' 'omni'
 'fortuner' 'innova' 'corolla altis' 'etios cross' 'etios g' 'etios liva'
 'corolla' 'etios gd' 'camry' 'land cruiser' 'Royal Enfield Thunder 500'
 'UM Renegade Mojave' 'KTM RC200' 'Bajaj Dominar 400'
 'Royal Enfield Classic 350' 'KTM RC390' 'Hyosung GT250R'
 'Royal Enfield Thunder 350' 'KTM 390 Duke ' 'Mahindra Mojo XT300'
 'Bajaj Pulsar RS200' 'Royal Enfield Bullet 350'
 'Royal Enfield Classic 500' 'Bajaj Avenger 220' 'Bajaj Avenger 150'
 'Honda CB Hornet 160R' 'Yamaha FZ S V 2.0' 'Yamaha FZ 16'
 'TVS Apache RTR 160' 'Bajaj Pulsar 150' 'Honda CBR 150' 'Hero Extreme'
 'Bajaj Avenger 220 dtsi' 'Bajaj Avenger 150 street' 'Yamaha FZ  v 2.0'
 'Bajaj Pulsar  NS 200' 'Bajaj Pulsar 220 F' 'TVS Apache RTR 180'
 'Hero Passion X pro' 'Bajaj Pulsar NS 200' 'Yamaha Fazer '
 'Honda Activa 4G' 'TVS Sport ' 'Honda Dream Yuga '
 'Bajaj Avenger Street 220' 'Hero Splender iSmart' 'Activa 3g'
 'Hero Passion Pro' 'Honda CB Trigger' 'Yamaha FZ S '
 'Bajaj Pulsar 135 LS' 'Activa 4g' 'Honda CB Unicorn'
 'Hero Honda CBZ extreme' 'Honda Karizma' 'Honda Activa 125' 'TVS Jupyter'
 'Hero Honda Passion Pro' 'Hero Splender Plus' 'Honda CB Shine'
 'Bajaj Discover 100' 'Suzuki Access 125' 'TVS Wego' 'Honda CB twister'
 'Hero Glamour' 'Hero Super Splendor' 'Bajaj Discover 125' 'Hero Hunk'
 'Hero  Ignitor Disc' 'Hero  CBZ Xtreme' 'Bajaj  ct 100' 'i20' 'grand i10'
 'i10' 'eon' 'xcent' 'elantra' 'creta' 'verna' 'city' 'brio' 'amaze'
 'jazz']
['Petrol' 'Diesel' 'CNG']

In [38]:
print(df['Seller_Type'].unique())
print(df['Fuel_Type'].unique())
print(df['Transmission'].unique())
print(df['Owner'].unique())

['Dealer' 'Individual']
['Petrol' 'Diesel' 'CNG']
['Manual' 'Automatic']
[0 1 3]

In [39]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [40]:
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [41]:
df.drop('Car_Name',axis=1,inplace=True)

In [42]:
df=pd.get_dummies(df, columns=["Seller_Type"])

In [44]:
df.head()

   Year  Selling_Price  ...  Seller_Type_Dealer  Seller_Type_Individual
0  2014           3.35  ...                   1                       0
1  2013           4.75  ...                   1                       0
2  2017           7.25  ...                   1                       0
3  2011           2.85  ...                   1                       0
4  2014           4.60  ...                   1                       0

[5 rows x 9 columns]

In [45]:
df=pd.get_dummies(df, columns=["Transmission"])

In [46]:
df.head()

   Year  Selling_Price  ...  Transmission_Automatic  Transmission_Manual
0  2014           3.35  ...                       0                    1
1  2013           4.75  ...                       0                    1
2  2017           7.25  ...                       0                    1
3  2011           2.85  ...                       0                    1
4  2014           4.60  ...                       0                    1

[5 rows x 10 columns]

In [49]:
df=pd.get_dummies(df,columns=["Fuel_Type"])

In [50]:
df.head()

   Year  Selling_Price  ...  Fuel_Type_Diesel  Fuel_Type_Petrol
0  2014           3.35  ...                 0                 1
1  2013           4.75  ...                 1                 0
2  2017           7.25  ...                 0                 1
3  2011           2.85  ...                 0                 1
4  2014           4.60  ...                 1                 0

[5 rows x 12 columns]

In [51]:
df['Current_Year']=2020

In [53]:
df.head()

   Year  Selling_Price  ...  Fuel_Type_Petrol  Current_Year
0  2014           3.35  ...                 1          2020
1  2013           4.75  ...                 0          2020
2  2017           7.25  ...                 1          2020
3  2011           2.85  ...                 1          2020
4  2014           4.60  ...                 0          2020

[5 rows x 13 columns]

In [54]:
df['no_of_year']=df['Current_Year']-df['Year']

In [55]:
df.head()

   Year  Selling_Price  ...  Current_Year  no_of_year
0  2014           3.35  ...          2020           6
1  2013           4.75  ...          2020           7
2  2017           7.25  ...          2020           3
3  2011           2.85  ...          2020           9
4  2014           4.60  ...          2020           6

[5 rows x 14 columns]

In [56]:
df.drop('Year',axis=1,inplace=True)

In [57]:
df.head()

   Selling_Price  Present_Price  ...  Current_Year  no_of_year
0           3.35           5.59  ...          2020           6
1           4.75           9.54  ...          2020           7
2           7.25           9.85  ...          2020           3
3           2.85           4.15  ...          2020           9
4           4.60           6.87  ...          2020           6

[5 rows x 13 columns]

In [59]:
df.drop('Current_Year',inplace=True,axis=1)

In [60]:
df.head()

   Selling_Price  Present_Price  ...  Fuel_Type_Petrol  no_of_year
0           3.35           5.59  ...                 1           6
1           4.75           9.54  ...                 0           7
2           7.25           9.85  ...                 1           3
3           2.85           4.15  ...                 1           9
4           4.60           6.87  ...                 0           6

[5 rows x 12 columns]

In [61]:
df.corr()

                        Selling_Price  ...  no_of_year
Selling_Price                1.000000  ...   -0.236141
Present_Price                0.878983  ...    0.047584
Kms_Driven                   0.029187  ...    0.524342
Owner                       -0.088344  ...    0.182104
Seller_Type_Dealer           0.550724  ...   -0.039896
Seller_Type_Individual      -0.550724  ...    0.039896
Transmission_Automatic       0.367128  ...    0.000394
Transmission_Manual         -0.367128  ...   -0.000394
Fuel_Type_CNG               -0.025164  ...    0.017790
Fuel_Type_Diesel             0.552339  ...   -0.064315
Fuel_Type_Petrol            -0.540571  ...    0.059959
no_of_year                  -0.236141  ...    1.000000

[12 rows x 12 columns]

In [67]:
y=df.iloc[:,0]
x=df.iloc[:,1:]

In [68]:
x

     Present_Price  Kms_Driven  ...  Fuel_Type_Petrol  no_of_year
0             5.59       27000  ...                 1           6
1             9.54       43000  ...                 0           7
2             9.85        6900  ...                 1           3
3             4.15        5200  ...                 1           9
4             6.87       42450  ...                 0           6
..             ...         ...  ...               ...         ...
296          11.60       33988  ...                 0           4
297           5.90       60000  ...                 1           5
298          11.00       87934  ...                 1          11
299          12.50        9000  ...                 0           3
300           5.90        5464  ...                 1           4

[301 rows x 11 columns]

In [69]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
       ...
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [70]:
from sklearn.ensemble import RandomForestRegressor

In [71]:
rf=RandomForestRegressor()

In [74]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(x,y,test_size=0.25)

In [75]:
rf.fit(X_train,Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [82]:
y_pred=rf.predict(X_test)

In [87]:
from sklearn import metrics

In [90]:
print('Mean Absolute Error:', metrics.mean_absolute_error(Y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(Y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(Y_test, y_pred)))

Mean Absolute Error: 0.6361184210526318
Mean Squared Error: 1.0394983605263164
Root Mean Squared Error: 1.0195579240662673

In [91]:
import pickle

In [92]:
file = open('random_forest_regression_model.pkl', 'wb')

# dump information to that file
pickle.dump(rf, file)